<footer class="footer">
    <div class="seekutils">
        <div class="container">
            <div class="seekrow">
                <div class="block">
                    <img src="{{ store.logo_url }}">
                </div>
                <div class="block">
                    <div class="title">About Us</div>
                    <div class="text">
                        Welcome to the official Templar Store! This is the place for you to enhance your 
                        Templar Tales experience. We offer ranks, Gold, Gems, and more. You can choose 
                        the product category in the site navigation at the top or by clicking on the category list above.
                    </div>
                </div>      
                <div class="block">
                    <div class="title">Quick Links</div>
                    <ul>
                        <li><a href="/login">Log-in</a></li>
                        <li><a href="https://discord.gg/nttyvXzx">Discord</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="seekcopyright">
        <div class="container">
            <div class="seekrow">
                <div class="left"><span>© Copyright {{ store.name }}. {{ "now"|date("Y") }} All Rights Reserved.</span></div>
                <div class="right"><a href=""><img src=""></a></div>
        </div>    
    </div>
</footer>