<div class="panel panel-default topdonator-module">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {% if module.data.uuid is not empty %}
                <div class="top-donator">
                    <div class="avatar">
                        <img src="https://mc-heads.net/body/{{ module.data.mc_name }}/right">
                    </div>
                    <div class="data">
                        <p><b>{{ module.data.mc_name }}</b></p>
                        <p class="text">Donated
    					{% if module.data.show_amount_spend == 1 %}
    						{{ module.data.total|number_format(2, '.', ',') }}
    						{{ store.currency }}
    					{% else %}                        
                            the most
                        {% endif %}
                        this month</p>
                    </div>
                </div>
                {% else %}
                <div class="top-donator">
                    <div class="avatar">
                        <img src="https://mc-heads.net/body/0e8217f3f25640f0bdea18fb6dc4b0ce/128.png">
                    </div>
                    <div class="data">
                        <p><b>N/A</b></p>
                        <p class="text">No top donator to display</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>